a{
  list-style: none;
  text-decoration: none;
  color:black;
}
a:hover{
  cursor: pointer;
}
#tabs > ul > a > li{
  float:left;
  padding-right: 5px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#tab1{
  background: lightgreen;
}
#tab2{
  background: lightblue;
}
#tab3{
  background: #996633;
}
#container{
  border: 2px solid black;
}
.active{
  border-bottom: 2px solid white;
  top: -2px;
  z-index: 3px;
}
#tabs{
  border:2px solid white;
}
